services:
  gcs:
    container_name: cloud-storage
    image: fsouza/fake-gcs-server
    command: -scheme http -port 4443 -data /storage -public-host 0.0.0.0:4443
    volumes:
      - vol_storage:/storage
    ports:
      - "4443:4443"
  db:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: media_processing_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "5050:80"

volumes:
    vol_storage:
    postgres_data:
    pgadmin_data:
